body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
  color: purple;
  text-align: center;
  font-weight: bold;
}